html {
  --layer-0-background-color: #fdf6e3;
  --layer-1-background-color: #eee8d5;
  --layer-2-background-color: #ded8c5;

  --layer-1-foreground-color: #4d4a44;
}

body {
  background-color: var(--layer-0-background-color);
}

#chat-body, #code-field-body, #chat-input > input {
  background-color: var(--layer-1-background-color);
  color: var(--layer-1-foreground-color)
}

#chat-input, #chat-header, #code-field-header {
  background-color: var(--layer-2-background-color);
}

#game {
  display: grid;
  grid-template-columns: auto 750px;
  grid-template-rows: 2rem auto 3rem;
  grid-template-areas: "chat-header code-field-header"
                       "chat-body   code-field-body"
                       "chat-input  code-field-body";
  grid-column-gap: 2rem;
  padding: 2rem;
  flex: 1;
}

#chat-body, #code-field-body, #chat-input {
  margin: 0;
  padding: 1rem;
}

#chat-body {
  grid-area: chat-body;
  overflow: scroll;
}

#chat-input {
  grid-area: chat-input;
  padding: calc(1em / 2);
  width: auto;
}

#chat-input > input {
  margin: 0;
  border: 0;
  padding: 0;
  height: 2rem;
  outline: none;
  width: 100%;
  font-size: 1rem;
}

#code-field-body {
  grid-area: code-field-body;
}

#chat-header {
  grid-area: chat-header;
}

#code-field-header {
  grid-area: code-field-header;
}